body {
  background-color: lavender;
}

#navbar,
#header a {
  text-decoration: none;
  color: white;
  padding: 1em;
}

#navbar a:hover svg:hover,
#header a:hover {
  background-color: lightslategray;
}

/* HEADER */
#header {
  background-color: slategray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .brand {
  margin-left: 1em;
}

#header .brand svg {
  margin-left: 1em;
}

#header h1 {
  margin-left: 1em;
}

#navbar {
  display: flex;
  align-items: center;
  padding: 0;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar li {
  padding: 1em;
}

/* NAVBAR */
#navbar svg {
  margin-right: 1em;
}

/* CARD */
.card-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: small;
}

.card {
  margin: 1em auto 0 1em;
  border: 1px solid;
  border-radius: 1px;
  width: 200px;
}

.card-body {
  padding: 1em;
}

.card-body div {
  margin-top: 6px;
}

.card-title {
  font-size: medium;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  white-space: nowrap;
}

.card-title a {
  text-decoration: none;
}

.card-img img {
  max-width: 100%;
  height: 100px;
  display: block;
  margin: 0 auto;
  padding: 1em;
}

.card-img {
  background-color: white;
}

.card-footer button {
  margin-bottom: auto;
}

.card-footer button {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1em;
  border: 0;
  cursor: pointer;
}
